include ../../../mixin/breadcrumb.pug

-
  var productBreadcrumb = [
    {
      name:'特力+',
      link:'/',
    },
    {
      name:'家電淨水',
      link:'/',
    },
    {
      name:'冷暖空調',
      link:'/',
    },
    {
      name:'分離式變頻-冷暖',
      link:'/',
    }
  ]
  
.breadcrumb.my-4.bg-none.py-3.px-0
  +breadcrumb(productBreadcrumb, 'text-secondary')
