include ../../../mixin/card05
include ../../../mixin/star-rating.pug


mixin commit()
  .px-md-5.px-3.pt-2.pb-4.bg-light.text-secondary
    .container.p-0
      .row
        .col-md-7.col-12.d-flex.flex-md-nowrap.flex-wrap.justify-content-between.mb-2
          .user 王＊明
          .rate 
            +rating(5,3)
          .date(style="color:#C3C7C8;") 2018 / 08 / 08
          .info 
            span 購買規格：
            span 黑色 / S
      .row
        .col-md-7.col-12
          .d-md-flex.d-block
            .title.mr-3.mb-1 評論留言
            .commit
              p 
                | 皮夾材質很不錯,比想像中還要好!
                br
                | 雖然設計師說有稍微晚到貨,所以另外附贈小禮物.
                br
                | 有機會會在多逛逛這裡,希望有更所商品可以訂購!
        .col-md-5.col-12
          .container.p-0
            .row
              .col
                img(src='./images/product-slide-small.jpg')
              .col
                img(src='./images/product-slide-small.jpg')
              .col
                img(src='./images/product-slide-small.jpg')
                  
mixin reply()
  .px-md-5.px-3.pt-2.text-secondary
    .user.mb-2 特力＋回覆
    .commit
      p 皮夾材質很不錯，比想像中還要好！ 雖然設計師說有稍微晚到貨，所以另外附贈小禮物。 有機會會在多逛逛這裡，希望有更所商品可以訂購！
          
      



+card05()
  +slot('header')
    | 商品評論
  +slot('body')
    .container
      .row
        .col-md-3.col-12.mb-5
          .bg-light.p-5.mb-5.d-flex.flex-column.align-items-center
            .h1.bg-light.mb-0 符合期待
            .mb-3.text-danger(style="font-size: 50px;") 4.1
            .h3
              +rating(5,3)
          .bg-primary.text-white.p-4.text-center
            div 我要評論
        .col-md-9.col-12
          div(style="max-width: 760px")
            .commit.mb-5
              -var n = 0
              while n < 5
                +commit()
                if(n !== 3)
                  +reply()
                - n++
            .d-flex.justify-content-between
              .pointer
                img(width="55px" src="./images/left-light-btn.png")
              .pointer
                img(width="55px" src="./images/right-light-btn.png")
              
