include ../../../mixin/card05
include ../../../mixin/star-rating.pug



+card05()
  +slot('header')
    | 商品評論
  +slot('body')
    .container
      .row
        .col-3
          .bg-light.p-5.mb-5.d-flex.flex-column.align-items-center
            .h1.bg-light.mb-0 符合期待
            .mb-3(style="font-size: 50px;") 4.1
            .h3
              +rating(5,3)
          .bg-primary.text-white.p-4.text-center
            div 我要評論
        .col-8
