.container.product-node
  .row.justify-content-center.justify-content-lg-start
    .col-12.col-sm-10.col-lg-6
      .slider-for
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
      .slider-nav
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
    .col-6
      .info 123