include ../../../mixin/star-rating.pug
include ../../../mixin/tab


-
  var productTabs = [
    {
      name: 'doc',
      label: '商品描述'
    },
    {
      name: 'rate',
      label: '滿額最高享 12 期 0 利率'
    },
    {
      name: 'payMethod',
      label: '付款方式及免運門檻'
    },
    {
      name: 'state',
      label: '貨況查詢'
    }
  ]

mixin productTab()
  +tab(productTabs)
    +slot('doc')
      .container.p-0
        .row
          .col-12
            .body
              p 
                | 尺寸：長 300 x 寬 200 x 高 200
                br
                | (單位：公分)
              
              ul
                li 日本精緻公益免組裝，即買即用 四層抽屜收納櫃，大容量抽屜
                li 超靜音貼紙劃歸，使用順暢
                li 封閉式櫃體
    +slot('rate')
      p rate
    +slot('payMethod')
      p doc
    +slot('state')
      p rate    


.container.product-node.mb-5
  .row.justify-content-center.justify-content-lg-start
    .col-12.col-lg-6
      .slider-for
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide.jpg')
      .slider-nav
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
        .item
          img.w-100.img-fluid(src='./images/product-slide-small.jpg')
    .col-12.col-lg-6
      .info
        .product-name.h3 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一
        .wrap.d-flex.justify-content-between.mb-2
          .sku.d-flex.text-muted
            .sku-label 商品編號:
            .value 014175830
          .rate-wrap
            +rating(5,3)
        .wrap.mb-5
          .exclusive 線上獨賣
        .price-wrap.d-flex.align-items-baseline.flex-wrap.mb-4
          .offer-wrap.mr-5
            .label.pt-1.h4 優惠價
            .offer-price.h2 $12,399
          .web-wrap.mr-5
            .label.pt-1.mb-3.h4 網路價
            .web-price.pt-1.h3 $16,999
          .original-wrap.mr-5
            .label.pt-1.mb-3.h4 建議售價
            .original-price.pt-1.h3 $21,999
          .promotions-wrap
            .label.pt-1.mb-3.h4 優惠活動
            .body.pt-1.h4 床寢傢俱 滿 3,000 現折 300
        .point-wrap.d-flex.align-items-stretch.flex-wrap.mb-4
          .bonus-wrap.d-flex.align-items-center.mr-4.my-2
            .label 紅利金
          .reward-wrap.align-items-center.mr-4.my-2
            .label.pt-1.h4 最高回饋
            .reward-price.font-weight-bold 28,485
          .discount-wrap.align-items-center.mr-4.my-2
            .label.pt-1.h4 最高折抵
            .discount-wrap.font-weight-bold 190
          .how-to-use-wrap.d-flex.align-items-center.mr-4.my-2
            i.question.fas.fa-question-circle.mr-3
            a(href='/') 紅利金怎麼用
          .coupon-wrap.d-flex.align-items-center.my-2
            span.mr-3.h3.mb-0 •
            a(href='/') 查看可用折價卷
        .shop-wrap.d-flex.flex-wrap.justify-content-xl-between
          .qty-wrap.my-4.mr-2
            .label.mb-2.h4 選擇數量
            .qty-slot
              select.form-control
                each qty, index in [1,2,3,4,5,6,7,8,9,10]
                  option= qty
          .preorder-cart-wrap.my-4
            a.preorder-to-cart.d-flex.flex-column.justify-content-center.align-items-center.text-white.h3(href='#' role="button")
              i.fas.fa-shopping-cart.text-white.h3.mb-0
              span 預購
              span.mt-auto.date.h6 預計 2018/12/31 出貨
      .productTab.mb-3
        +productTab()
      .bn
        img(src="./images/bn.png")
