include ../../../mixin/card05


+card05()
  +slot('header')
    | 產品特色
  +slot('body')
    h3 日系品牌 展現設計風格

    p 
      | 這款【特力屋 PRO特選 網背主管椅】採用透氣網背設計，透氣性佳，造型椅背，承載力優良，一體成型扶手，美觀更舒適。 
      | 本產品採用符合 美國 BIFMA (美國辦公傢具製造商協會 Business & Institutional Furniture Manufacturers Association) 標準 [ 原文官網] 氣壓棒，安全又放心。 
      | 尼龍腳架，50MM尼龍活動輪基本款，穩定性佳，讓您輕鬆辦公效率加倍。
      
    img.pt-3.pb-5(src="./images/card03.jpg")
      
    h3 【 日系品牌 展現設計風格 】
    
    p 
      | 這款【特力屋 PRO特選 網背主管椅】採用透氣網背設計，透氣性佳，造型椅背，承載力優良，一體成型扶手，美觀更舒適。 
      | 本產品採用符合 美國 BIFMA (美國辦公傢具製造商協會 Business & Institutional Furniture Manufacturers Association) 標準 [ 原文官網] 氣壓棒，安全又放心。 
      | 尼龍腳架，50MM尼龍活動輪基本款，穩定性佳，讓您輕鬆辦公效率加倍。
      
    img.pt-3(src="./images/card03.jpg")
