.slideshow_block {
  #ArchiveSlideshow {
    .item {
      .wrap {
        position: relative;
        .bg-img {
          min-height: 320px;
          // @include media-breakpoint-up(sm) {
          //   min-height: 400px;
          // }
          // @include media-breakpoint-up(md) {
          //   min-height: 480px;
          // }
          // @include media-breakpoint-up(xl) {
          //   min-height: 680px;
          // }
        }
        .text-wrap {
          position: absolute;
          left: 50%;
          bottom: 15%;
          transform: translate(-50%);
          @include media-breakpoint-up(sm) {
            top: 50%;
            transform: translate(-50%, -20%);
          }
          .text {
            font-size: 2rem;
            margin-bottom: 0px;
            @include media-breakpoint-up(sm) {
              margin-bottom: 27px;
            }
            @include media-breakpoint-up(xl) {
              font-size: 3rem;
            }
          }
          .btn {
            width: 200px;
            font-size: 1rem;
            display: none;
            @include media-breakpoint-up(sm) {
              display: block;
            }
            @include media-breakpoint-up(xl) {
              width: 370px;
              font-size: 2rem;
            }
            margin: 0 auto;
            border: 1px solid $white;
            color: $white;
            &:hover {
              color: $cyan;
            }
          }
        }
      }
    }
    .slick-prev {
      background: url('/images/left_arrow.png');
      left: 70px;
    }
    .slick-next {
      background: url('/images/right_arrow.png');
      right: 70px;
    }
    .slick-arrow {
      width: 44px;
      height: 44px;
      z-index: 1;
      &::before {
        display: none;
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 20px;
      .slick-active {
        >button {
          background-color: $cyan;
        }
      }
      >li {
        >button {
          border: 3px solid $white;
          border-radius: 50%;
          &:hover {
            background-color: $cyan;
          }
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
