-
  var breadcrumbs = [
    {
      name:'特力+',
      link: ''

    },
    {
      name:'特力和樂',
      link: ''

    },
    {
      name:'傢俱收納',
      link: ''
    },
  ]

mixin breadcrumb(arr, className)
  - arr = arr || breadcrumbs
  ul.d-flex.p-0.m-0
    each item, idx in arr
      li.d-block
        a(class=className href=item.link)=item.name
      if((idx + 1) !== arr.length)
        .px-1(class=className) /
