-
  var breadcrumbs = [
    {
      name:'特力+',
      link: ''

    },
    {
      name:'特力和樂',
      link: ''

    },
    {
      name:'傢俱收納',
      link: ''

    },
  ]

mixin breadcrumb(arr)
  - arr = arr || breadcrumbs
  ul.d-flex.p-0.m-0
    each item, idx in arr
      li.d-block
        a(href=item.link)=item.name
      if((idx + 1) !== breadcrumbs.length)
        .px-1 /



