-
  var card01Default= {
        title: '起居空間大搜查',
        image: './images/card01.png',
        link: 'https://www.google.com.tw/'
  }

mixin card01(obj, position="pos-bottom")
  - obj = obj || card01Default
  .card.card-01.position-relative(class="border-0")
    a(href=obj.link)
      .image
         img(src=obj.image)
      .wrap.position-absolute.p-3(class=position)
        .title(class="mb-2")
           h3.text-white !{obj.title}
          
