// https://github.com/pugjs/pug/issues/1693

mixin card05()
  - var slots = {};
  
  // general mixin slot
  mixin slot(name)
    - slots[name] = block
    
  block
  
  .card05.d-flex.flex-column(style="width: 100%;")
    if slots['header']
      .title.text-white.p-4(style="background: #C3C7C8")
        .d-flex.justify-content-between.align-items-center
          .h4.m-0
            i.fas.fa-circle.mr-3
            - slots['header'](); 
          i.fas.fa-minus
          i.fas.fa-plus
            
    if slots['body']
      .body.bg-white(style="height:100%;")
        .p-md-5.p-3
          - slots['body']();
         
         
