
mixin rating(total,rating)
  - total = total || 5
  - rating = rating || 0
  .rate.d-flex
    - for (var j=0; j < total; j++)
      div(class=(j !== total && 'pr-2'))
        i.fa.fa-star(class=(j < rating ? 'checked' : ''))
