header {
  background-color: $gray-100;
  .container {
    .search-wrap {
      width: 100%;
      >* {
        padding: 0 10px;
      }
      @include media-breakpoint-up(md) {
        width: inherit
      }
      .search-container {
        @include media-breakpoint-up(md) {
          flex: inherit
        }
        flex: 2;
        .inner-addon {
          position: relative;
          input {
            padding-right: 45px;
            border-radius: 20px;
          }
          .btn {
            background: $white;
            right: 15px;
            position: absolute;
          }
        }
      }
      .link-wrap {
        .cart {
          position: relative;
          .badge {
            color: $white;
            background-color: $pink;
            font-size: 12px;
            right: -10px;
            top: -10px;
            position: absolute;
          }
        }
      }
    }
  }
}