header {
  background-color: $gray-100;
  .container {
    .search-wrap {
      width: 100%;
      >* {
        padding: 0 10px 0 0;
      }
      @include media-breakpoint-up(lg) {
        width: inherit
      }
      .search-container {
        @include media-breakpoint-up(md) {
          flex: inherit
        }
        flex: 2;
        .inner-addon {
          position: relative;
          input {
            padding-right: 40px;
            border-radius: 20px;
          }
          .btn {
            border-radius: 50%;
            background: $white;
            right: 0;
            position: absolute;
          }
        }
      }
      .link-wrap {
        .cart {
          position: relative;
          .circle {
            position: absolute;
            top: -5px;
            right: -10px;
            width: 12px;
            height: 12px;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            text-align: center;
            display: flex;
            background-color: $pink;
            color: $white;
            .text {
              font-size: 12px;
              transform: scale(0.66);
            }
          }
        }
      }
    }
  }
}