extends ./../../layouts/sidebarfirst
block head
    title 特力家購物網

block content
    h1(style="display:none") 首頁
    include blocks/slideshow
    
    include blocks/products
    
    include blocks/news
    
    include blocks/popular
    
    include blocks/popular
    
    include blocks/maylike
  
