extends ../../layouts/default.pug

block head
    title 特力家購物網

block content
    h1(style="display:none") 首頁
    
    include blocks/banner.pug
    
    .div.position-relative.mt-5
      .mb-5
        include blocks/menu
      include blocks/products
      include blocks/otherbuy
        
      
      
    
  
