include ../../../mixin/card03

-
  var lifeFirst = {
    image: './images/card03.jpg',
    title: '<div>「世界最佳的餐廳」 捲土重來！</div><div>體驗食在丹麥的實驗餐桌，NOMA2.0</div>', 
    content: '#丹麥,#哥本哈根,#生活美學,#空間設計,#設計靈蓋,#餐廳',
    link: 'http://google.tw'
  }
  
  var lifeData = {
    1:{ 
        image: './images/card03.jpg',
        title: '<div>「世界最佳的餐廳」 捲土重來！</div><div>體驗食在丹麥的實驗餐桌，NOMA2.0</div>', 
        content: '#丹麥,#哥本哈根,#生活美學,#空間設計,#設計靈蓋,#餐廳',
        link: 'http://google.tw'      },
    2:{ 
        image: './images/card03.jpg',
        title: '<div>「世界最佳的餐廳」 捲土重來！</div><div>體驗食在丹麥的實驗餐桌，NOMA2.0</div>', 
        content: '#丹麥,#哥本哈根,#生活美學,#空間設計,#設計靈蓋,#餐廳',
        link: 'http://google.tw'      },
    3:{ 
        image: './images/card03.jpg',
        title: '<div>「世界最佳的餐廳」 捲土重來！</div><div>體驗食在丹麥的實驗餐桌，NOMA2.0</div>', 
        content: '#丹麥,#哥本哈根,#生活美學,#空間設計,#設計靈蓋,#餐廳',
        link: 'http://google.tw'      },
  
   }

#filter-block
  .container 
    div(class="border-secondary" style="border-bottom: 3px solid;")
      h2.block-title(class="h3 text-secondary text-center") HOI! MAGAZINE
    div(data-aos="fade-left" data-aos-delay=(100*index)  data-aos-duration="1000")
      +card03(lifeFirst,'col-md-7', 'col-md-5')
    ul.row.p-0.mt-3
      each item, index in lifeData
        li.d-flex.col-lg-4.col-md-4.mb-md-5.mb-3(data-aos="fade-left" data-aos-delay=(100*index)  data-aos-duration="1000")
          +card03(item)
    .more_btn.text-center
      a.d-block.border-primary(href="./index.html#contact" class="p-3 m-auto" style='width: 280px; border: 2px solid;')
        strong SEE MORE
          
            
