include ../../../mixin/card01.pug

-
  var sloganData = {
    1:{ 
      title: '起居空間大搜查',
      sub: '經典沙發 5 折起',
      image: './images/card01.png',
      link: 'https://www.google.com.tw/'
      },
    2:{ 
      title: '起居空間大搜查',
      sub: '經典沙發 5 折起',
      image: './images/card01.png',
      link: 'https://www.google.com.tw/'
      },
    3:{ 
      title: '起居空間大搜查',
      sub: '經典沙發 5 折起',
      image: './images/card01.png',
      link: 'https://www.google.com.tw/'
      },
    }


#slogan-block
  .container.py-5
    ul.row.m-0.p-0
      each item, index in sloganData
        li.d-flex.col-lg-4.col-md-6.mb-5(class=(index == 3 ? 'd-md-none d-lg-flex': '') data-aos="fade-right" data-aos-delay=(100*index)  data-aos-duration="1000")
          +card01(item)
