#fixed-menu.fixed-menu.menu-xs.collapse.show(style='')
  .wrap
    .menu-xs__main.slider-menu
      .slider-menu-pages
        .slider-menu-page.slider-menu-store
          .menu-xs__top-area.d-flex.justify-content-between
            .d-flex.align-items-center
              a(href='/memberLogin') 登入
              |  / 
              a(href='/memberRegister') 註冊
            a.menu-xs__close-icon(data-toggle='collapse', href='#menu-xs', aria-expanded='true')
              i.fa.fa-times.mr-1
              | 關閉選單
          ul#menu-xs__nav.menu-xs__nav
            li
              a(href='/') 首頁
            li
              a.mobileCatePagesLink(href='/TLWMobileCategory') 看全部商品分類
            li
              a(href='/TLW') 特力屋
            li
              a(href='/Hola') HOLA 特力和樂
            li.title
              a(href='/my-account/index') 會員中心
            li
              a(href='/my-account/orders') 訂單管理
            li
              a(href='/memberCoupon/List') 我的帳戶/折價券查詢
            li
              a(href='/memberBonus/List') 愛家卡會員/點數查詢
            li
              a(href='/pages/faq/') 客戶服務
            li.title 
              a 更多服務
            li
              a(href='/pages/arvrlanding') VR展示
            li
              a(href='/pages/store_tlw') 據點查詢
            li
              a(href='/pages/eCatalog_trplus') 線上型錄
            li.site-map
              a.collapsed.d-flex.justify-content-between(href='#about-testrite', data-toggle='collapse', aria-expanded='false')
                | 關於特力屋
                i.pull-right.fa.fa-minus
                i.pull-right.fa.fa-plus
              ul#about-testrite.site-map__list.site-map__footer_GroupLink_2.collapse(data-parent='#menu-xs__nav', style='')
                li
                  a(href='https://www.trplus.com.tw/pages/about_tlw', rel='nofollow', title='品牌介紹') 品牌介紹
                li
                  a(href='https://goo.gl/rmu5NH', rel='nofollow', title='手創空間', target='_blank') 手創空間
                li
                  a(href='https://ecatalogue.hola.com.tw/?channel=1', rel='nofollow', title='線上型錄', target='_blank') 線上型錄
                li
                  a(href='https://www.trplus.com.tw/pages/store_tlw', rel='nofollow', title='據點查詢') 據點查詢
                li.site-map__alreadyItem
                  a.site-map__social.site-map__social--i-house.fb(href='https://www.facebook.com/17DIY?utm_source=TLW&utm_medium=EDM&utm_content=TOP_2&utm_campaign=170612_establish', title='Facebook')
                    i.fa.fa-facebook-f
                  a.site-map__social.site-map__social--i-house.youtube(href='https://www.youtube.com/user/TestRiteRetail', title='YouTube')
                    i.fa.fa-youtube
            li.site-map
              a.collapsed.d-flex.justify-content-between(href='#about-hola', data-toggle='collapse', aria-expanded='false')
                | 關於HOLA 特力和樂
                i.pull-right.fa.fa-minus
                i.pull-right.fa.fa-plus
              ul#about-hola.site-map__list.site-map__footer_GroupLink_3.collapse(data-parent='#menu-xs__nav', style='')
                li
                  a(href='https://www.trplus.com.tw/pages/about_hola', rel='nofollow', title='品牌介紹') 品牌介紹
                li
                  a(href='https://www.trplus.com.tw/pages/holalifestyle_20180206/index.html', rel='nofollow', title='HOLA生活學', target='_blank') HOLA生活學
                li
                  a(href='https://www.trplus.com.tw/pages/holaservice_20180206/index_service.html', rel='nofollow', title='找服務', target='_blank') 找服務
                li
                  a(href='https://www.trplus.com.tw/pages/holagift_20180206/index_gift.html', rel='nofollow', title='挑禮物', target='_blank') 挑禮物
                li
                  a(href='https://ecatalogue.hola.com.tw/?channel=2', rel='nofollow', title='線上型錄', target='_blank') 線上型錄
                li
                  a(href='https://www.trplus.com.tw/pages/store_hola', rel='nofollow', title='據點查詢') 據點查詢
                li.site-map__alreadyItem
                  a.site-map__social.site-map__social--hola.fb(href='https://www.facebook.com/HOLA.taiwan/', title='Facebook')
                    i.fa.fa-facebook-f
                  a.site-map__social.site-map__social--hola.youtube(href='https://www.youtube.com/user/HOLAtaiwan/featured', title='YouTube')
                    i.fa.fa-youtube
            li.site-map
              a.collapsed.d-flex.justify-content-between(href='#about-hisu', data-toggle='collapse', aria-expanded='false')
                | 特力零售集團
                i.pull-right.fa.fa-minus
                i.pull-right.fa.fa-plus
              ul#about-hisu.site-map__list.site-map__footer_GroupLink_4.collapse(data-parent='#menu-xs__nav', style='')
                li
                  a(href='https://www.089945.com.tw/', rel='nofollow', title='特力幸福家', target='_blank') 特力幸福家
                li
                  a(href='http://tts.i-house.com.tw/', rel='nofollow', title='特力屋居家修繕', target='_blank') 特力屋居家修繕
                li
                  a(href='https://www.crateandbarrel.com.tw/zh_TW', rel='nofollow', title='Crate and Barrel', target='_blank') Crate and Barrel
                li
                  a(href='http://www.holacasa.com.tw/', rel='nofollow', title='和樂名品家具', target='_blank') 和樂名品家具
            li.site-map
              a.collapsed.d-flex.justify-content-between(href='#about-member', data-toggle='collapse', aria-expanded='false')
                | 會員權益
                i.pull-right.fa.fa-minus
                i.pull-right.fa.fa-plus
              ul#about-member.site-map__list.site-map__footer_GroupLink_5.collapse(data-parent='#menu-xs__nav', style='')
                li
                  a(href='https://www.trplus.com.tw/pages/memRule', rel='nofollow', title='會員服務條款') 會員服務條款
                li
                  a(href='https://www.trplus.com.tw/pages/right', rel='nofollow', title='網路購物權益') 網路購物權益
                li
                  a(href='https://www.trplus.com.tw/pages/priv', rel='nofollow', title='隱私權保護') 隱私權保護
                li
                  a(href='https://www.trplus.com.tw/pages/secu', rel='nofollow', title='交易安全') 交易安全
                li.site-map__alreadyItem
                  script(src='//secure.comodo.com/trustlogo/javascript/trustlogo.js')
                  script(language='JavaScript', type='text/javascript').
                    TrustLogo("https://www.trplus.com.tw/_ui/pages/email/comodo_secure_seal_76x26_transp.png", "CL1", "none");
                  a(href="javascript:if(window.open('https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=CL1&v_search=https://www.trplus.com.tw/TLW_Marketing/c/EC_20001203&x=6&y=5','tl_wnd_credentials'+(new Date()).getTime(),'toolbar=0,scrollbars=1,location=1,status=1,menubar=1,resizable=1,width=374,height=660,left=60,top=120')){};tLlB(tLTB);", onmouseover="tLeB(event,'https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=C&v_shortname=CL1&v_search=https://www.trplus.com.tw/TLW_Marketing/c/EC_20001203&x=6&y=5','tl_popupCL1')", onmousemove='tLXB(event)', onmouseout="tLTC('tl_popupCL1')", ondragstart='return false;')
                    img(src='https://www.trplus.com.tw/_ui/pages/email/comodo_secure_seal_76x26_transp.png', border='0', onmousedown="return tLKB(event,'https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=CL1&v_search=https://www.trplus.com.tw/TLW_Marketing/c/EC_20001203&x=6&y=5');", oncontextmenu='return tLLB(event);')
                  // 
                  #tl_popupCL1(name='tl_popupCL1', style='position:absolute;z-index:0;visibility: hidden;background-color: transparent;overflow:hidden;', onmouseover="tLoB('tl_popupCL1')", onmousemove="tLpC('tl_popupCL1')", onmouseout="tLpB('tl_popupCL1')")  
                  a#comodoTL(href='https://ssl.comodo.com')
                  a(href='https://www.tpipas.org.tw/DPmark/ShowCertData.aspx?id=B000008(03)', title='dp.mark')
                    img.site-map__logo(src='/_ui/responsive/theme-trplus/images/logo/logo-dp.mark.gif')
            // li class="to-pc">前往 <a href="#">電腦版</a></li
        .slider-menu-page.slider-menu-category(style='display: none;')
          .slider-menu-back
            a.slider-menu-backlink(href='javascript:;')
              i.fa.fa-angle-left
              |   返回主選單
          .slider-menu-cates
            .cate-trplus
              a.active(href='#', storeid='TRPlus') 看全部商品
            .cate-tlw
              a(href='#', storeid='TLW') 特力屋分類
            .cate-hola
              a(href='#', storeid='Hola') HOLA分類
          .slider-menu-loading
            img(src='/_ui/responsive/theme-trplus/images/loading_50.gif')
            span Loading...
          .owl-main-nav
            #mLCate.owl-carousel
          .slider-menu-showSubHere
