header
    .container
        .wrap.d-flex.justify-content-between.align-items-center.py-4
            .hoi-img.d-none.d-md-block
                img(src='./images/header-img.jpg')
            .search-wrap.d-flex.align-items-center
                .search-container
                    form(action="")
                        .inner-addon.right-addon
                            button.btn
                                div 搜
                            input.form-control.border.border-white(type="text" placeholder="搜尋")
                .link-wrap
                    a.d-none.d-md-inline-block.profile.pr-4.text-primary(href='/') 我的帳戶
                    a.cart(href='/') 購物車
                        span.badge.badge-pill 99