header
    .container
        .wrap.d-flex.justify-content-between.align-items-center.py-4
            .hoi-img.d-none.d-md-block
                img(src='./images/header-img.jpg')
            .search-wrap.d-flex.align-items-center
                .search-container
                    form(action="")
                        .inner-addon.right-addon
                            button.btn
                              i.fas.fa-search
                            input.form-control.border.border-white(type="text" placeholder="搜尋")
                .link-wrap
                    a.d-none.d-md-inline-block.profile.mr-2.text-primary(href='/')
                      i.far.fa-user.mr-1
                      .d-inline-block 我的帳戶
                    a.cart(href='/')
                      i.fas.fa-shopping-cart
                      .circle
                        .text 99