#header-top.header-top
  .container
    .wrap.d-flex.align-items-center.justify-content-center.justify-content-md-between
      .link-wrap.d-none.d-md-block
        a.home.pr-4.text-primary(href='/') 
          i.fas.fa-home.mr-4
          .d-inline-block 回首頁
        a.activity(href='/') 全站滿千現折 $100
      .logo-wrap.d-none.d-sm-block
        a.logo(href='/')
          img.logo.img-fluid(src="./images/logo-testrite+.svg", alt="logo")