#header-top.header-top
  .container
    .wrap.d-flex.align-items-center.justify-content-between
      .link-wrap
        a.home.px-4.text-primary(href='/') 回首頁
        a.activity(href='/') 全站滿千現折 $100
      .logo-wrap
        a.logo(href='/')
          img.logo.img-fluid(src="./images/logo-testrite+.svg", alt="logo")