#header-top.header-top
  .container
    .link-wrap.d-flex.align-items-center
      a.home.px-4.text-primary(href='/') 回首頁
      a.activity(href='/') 全站滿千現折 $100
      .logo-wrap
        a.logo(href='/')
          img.logo(src="./images/logo-testrite+.svg", alt="logo")