include ./../mixin/menu

-
 var mainMenu = {
   type: 'menu',
   activeIndex: 0,
   items: [
     {
       name: '活動專區',
       link: '/'
     },
     {
       name: '傢俱',
       link: '/'
     },
     {
       name: '折價收納',
       link: '/'
     },
     {
       name: '寢具家飾',
       link: '/'
     },
     {
       name: '居家日用',
       link: '/'
     },
     {
       name: '家電',
       link: '/'
     },
     {
       name: '餐廚用品',
       link: '/'
     },
     {
       name: '美食',
       link: '/'
     },
     {
       name: 'HOI!好生活',
       link: '/'
     },
     {
       name: '門市活動',
       link: '/'
     }
   ]
 }

nav.navbar.navbar-expand-md.navbar-light.bg-primary.sticky-top.p-0.d-lg-block.d-none
  .container
    .row(style="width: 100%;")
      .bg-white.text-primary.d-flex.align-items-center.px-3(style="cursor:pointer;")
        i.fas.fa-bars.h3.m-0.mr-1
        .ml-5.mr-3 商品分類
      .col.d-flex-md
        +menu(mainMenu)
