.fixed-menu{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0,0,0, 0.7);
  color: #fff;
  display: none;

  a{
    color: inherit;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;
      a{
        display: block;
        padding: 5px 15px;
      }
    }
  }

  .wrap{
    background: #4a4a4a;
    max-width: 510px;
    width: 80%;
    height: 100%;
  }


  .title{
    background: #303030;
    box-shadow: 0 -1px 0 0 #9b9b9b;
  }

  .site-map {
    > a {
          background: $primary;
          box-shadow: 0 -1px 0 0 #9b9b9b;
    }
    .fa-plus{
      display: none;
    }
    .fa-minus{
      display: block;
    }

    .collapsed{
      .fa-plus{
        display: block;
      }
      .fa-minus{
        display: none;
      }
    }
  }
}

.menu-xs__top-area{
  background: $primary;
  a{
    padding: 5px 15px;
  }
}
