include ../../../mixin/breadcrumb.pug

-
  var archiveBreadcrumb = [
    {
      name:'特力+',
      link: ''
    },
    {
      name:'特力和樂',
      link: ''
    },
    {
      name:'傢俱收納',
      link: ''
    },
  ]

.breadcrumb.my-4.bg-none.py-3.px-0
  +breadcrumb(archiveBreadcrumb)
