
include ../../../mixin/card02.pug

-
  var popularDatas = {
  1:{ 
      title: '床組【UHO】秋原超省空間 3.5 尺床組二件組 (床頭是衣櫃+一抽床底)', 
      image: './images/card01.png',
      sale: '$ 99,999',
      price: '$ 99.999',
      link: './newsNode.html',
      hover: './images/hover.jpg'
    },
  2:{ 
      title: '床組【UHO】秋原超省空間 3.5 尺床組二件組 (床頭是衣櫃+一抽床底)', 
      image: './images/card01.png',
      sale: '$ 99,999',
      price: '$ 99.999',
      link: './newsNode.html',
      hover: './images/hover.jpg'
    },
  3:{ 
      title: '床組【UHO】秋原超省空間 3.5 尺床組二件組 (床頭是衣櫃+一抽床底)', 
      image: './images/card01.png',
      sale: '$ 99,999',
      price: '$ 99.999',
      link: './newsNode.html',
      hover: './images/hover.jpg'
    },
  4:{ 
      title: '床組【UHO】秋原超省空間 3.5 尺床組二件組 (床頭是衣櫃+一抽床底)', 
      image: './images/card01.png',
      sale: '$ 99,999',
      price: '$ 99.999',
      link: './newsNode.html',
      hover: './images/hover.jpg'
    }
  }


#news-block
  .container
    .d-flex.justify-content-between.align-items-center(class="border-secondary" style="border-bottom: 3px solid;")
      
      .pointer
        img(width="55px" src="./images/left-light-btn.png")
          
      h2.block-title(class="h3 text-secondary mb-0" style="white-space: nowrap;") 
        | 新品上市
        span.h4.ml-2(style="color:#C3C7C8;") HOT SALE
      
      .pointer
        img(width="55px" src="./images/right-light-btn.png")
        
    ul.row.p-0
      each item, index in popularDatas
        li.d-flex.col-lg-3.col-6.mb-4(data-aos="fade-left" data-aos-delay=(100*index)  data-aos-duration="1000")
          +card02(item)
          
    .more_btn.text-center
      a.d-block.border-primary(href="./index.html#contact" class="p-3 m-auto" style='width: 280px; border: 2px solid;')
        strong SEE MORE
