-
  var slideData = {
    1:{
        title: '綠美圖將成台中新地標', 
        image: './images/slide.jpg',
        link_text: 'SHOP NOW',
        link: './newsNode.html'
      },
    2:{
        title: '台中綠美圖讓人不自覺想進來', 
        image: './images/slide.jpg',
        link_text: 'SHOP NOW',
        link: './newsNode.html'
      },
    3:{
        title: '西苑高中圖書館美化牆', 
        image: './images/slide.jpg',
        link_text: 'SHOP NOW',
        link: './newsNode.html'
      },
   }

.slideshow_block.mb-5
    #ArchiveSlideshow.slick.mb-0
        each slide,index in slideData
          .item
            .wrap
              .bg-img(style=`background-image: url('${slide.image}'); background-repeat: no-repeat;background-position: center center; background-size:cover;`)
              .text-wrap.d-flex.flex-column.justify-content-center
                .text.text-white.text-center.font-weight-bold= slide.title
                a.btn.py-3(href=slide.link)= slide.link_text
            
               
                
