<!DOCTYPE html>
html(lang='en')
    head
        include ../components/head.pug 
        block head
    body
        i#fixed-menu-toggle.fas.fa-bars(style="cursor: pointer;")
          
        include ../components/header_top.pug
        include ../components/header.pug
        include ../components/nav.pug
        include ../components/fixedmenu.pug
        main
            block content
           
        include ../components/footer.pug
