<!DOCTYPE html>
html(lang='en')
    head
        include ../components/head.pug 
        block head
    body
        include ../components/header.pug
        #page
            main.container
              .row
                .col-2
                  include ../components/first_sidbar.pug
                .col-10
                  block content
        include ../components/footer.pug
