<!DOCTYPE html>
html(lang='en')
    head
        include ../components/head.pug 
        block head
    body
        include ../components/header.pug
        #page
            main.container
              .breadcrumb.bg-none.text-primary 特力+/特力和樂/傢俱收納
              .row
                .col-md-2.col-24
                  include ../components/sidebarfirst.pug
                .col-md-10.col-24
                  block content
        include ../components/footer.pug
