extends ../../layouts/default.pug

block head
    title 特力家購物網

block content
    h1(style="display:none") 首頁
    include blocks/slideshow.pug
    include blocks/brand.pug
    include blocks/news.pug
    include blocks/introducer.pug
    include blocks/quality.pug
    include blocks/ideals.pug
    include blocks/contact.pug
