extends ../../layouts/default.pug

block head
    title 特力家購物網

block content
    h1(style="display:none") 首頁
    include blocks/slideshow.pug
    
    include blocks/slogan.pug
    include blocks/recommend.pug
    include blocks/filter.pug
    include blocks/popular.pug
    include blocks/maylike.pug
  
