extends ../../layouts/default.pug

block head
    title 特力家購物網

block content
    h1(style="display:none") 首頁
    
    include blocks/breadcrumb.pug
    include blocks/node.pug
    
    .container
      .row
        .col-md-6.col-12
          .mb-5
            include blocks/special
          .mb-5
            include blocks/brand
        .col-md-6.col-12.d-block.d-md-flex.flex-column
          .mb-5
            include blocks/detail
          .mb-5
            include blocks/remind
          .mb-5.col.p-0
            include blocks/notice
          
    .container
      include blocks/commit
      
          
    
    
    include blocks/otherbuy.pug
    
    
  
